<div class="card">
    <div class="card-header">
        <h4 class="text-primary"><i class="bi bi-chat-left-text"></i> {{ dep }} 人員清單</h4>
    </div>
    <div class="card-body">
        <ul class="list-group">
            {% for val in card_reader_dep_res %}
            <li class="list-group-item list-group-item-action" id="{{ val[0] }}" onclick="load_card_reader_list_detail(id)"><i class="bi bi-arrow-right-short"></i> {{ val[0] }} , 共刷 {{ val[1] }} 次</li>
            {% endfor %}
        </ul>
    </div>
</div>

